@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* 선택된 날짜 스타일 */
  .react-calendar__tile--active {
    background-color: #3490dc; /* 원하는 primary 색상 코드 */
    color: white;
    border-radius: 9999px; /* 원형 모양 */
  }

  /* 오늘 날짜 스타일 */
  .react-calendar__tile--now {
    background-color: var(--secondary-color) !important;
    color: white !important;
    border-radius: 50% !important;
  }
}
